@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-secundary-50;
	position: relative;
}

body::before {
	content: '';
	@apply bg-primary-600/15;
	width: 700px;
	height: 700px;
	max-height: 100vw;
	max-width: 100%;
	position: absolute;
	z-index: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 9999px;
	filter: blur(64px);
}

.main {
	position: relative;
	z-index: 1;
}
